<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="apple-touch-icon-precomposed" href="images/logo-120x120.png">
        <link rel="shortcut icon" href="images/favicon.ico">
        <link rel="stylesheet" href="../css/picker-9d212046e124c506583d7161af8027d9.css">
        <title>高德地图</title>
    </head>
    <body>
        <div id="light-navi-wrapper">
            <div class="main-header"></div>
            <div class="main-body">
                <div class="poi-card">
                    <div class="poi-card-header"></div>
                    <div class="poi-card-main"></div>
                </div>
            </div>
            <div class="main-footer"></div>
        </div>
        <!-- 头部 -->
        <script type="text/template" id="picker-header">
            <div class="picker-index"><div class="back"></div><input type="text" class="J_commonInput" placeholder=""><div class="searchBtn J_showSearch">搜索</div><div class="clearBtn J_clearInput"></div><div class="C_picker-header-txt">地图选点</div></div>
        </script>
        <!-- 地图 -->
        <script type="text/template" id="map-view-template">
            <div id="map-body" class="map-body"><div id="map-view"></div><div class="marker-static"></div><a id="map-locate" class="navi-icon" href="javascript:;"></a></div>
        </script>
        <script type="text/template" id="map-view-custom-template">
            <div id="map-body" class="map-body"><div id="map-view-custom"></div><div class="marker-static-custom J_returnLng_custom"></div><a id="map-locate-custom" class="navi-icon" href="javascript:;"></a><div class="picker_tips"><div class="picker_tips_box"><div class="picker_custom_name"><%= paramName %></div><div class="picker_custom_tips">(拖动地图选择你的位置)</div></div></div></div>
        </script>
        <!-- poi列表tab -->
        <script type="text/template" id="poi-bodyTab-template">
            <span class="J_tab active">全部</span><% for(var j = 0;j < keywordsArray.length;j++){ %> <span class="J_tab"><%= keywordsArray[j] %></span><% } %>
        </script>
        <!-- poi列表 -->
        <script type="text/template" id="poi-body-template">
            <% if (pois && pois.length) { %>
            	<% for(var i = 0; i < pois.length; i++) { %>
            		<div class="item J_returnLng" data-data='<%= JSON.stringify(pois[i]) %>' data-lng="<%= pois[i].location.lng %>" data-lat="<%= pois[i].location.lat %>">
            			<div class="txt">
            				<span class="poicard-name"><%= pois[i].name %></span> 
            				<span class="poicard-addr"><%= pois[i].address %></span>
            			</div>
            		</div>
            	<% } %>
            <% } %>
        </script>
        <!-- poi列表搜索页面 -->
        <script type="text/template" id="poiSearch-body-template">
            <div class="search_page_tips"><% if (tips && tips.length) { %><% for(var i = 0; i < tips.length; i++) { %><% if(tips[i] && tips[i].location && tips[i].location.lat && tips[i].location.lng){ %><div class="item J_returnLngToIndex" data-lng="<%= tips[i].location.lng %>" data-lat="<%= tips[i].location.lat %>"><div class="txt"><span class="poicard-name"><%= tips[i].name %></span> <span class="poicard-addr"><%= tips[i].district %></span></div></div><% } %><% } %><% } %></div>
        </script>
        <script src="https://webapi.amap.com/maps?v=1.3&s=rsv3&rf=h5&utm_source=litemap&key=68f1f7850d75a2c422f417cc77331395" type="text/javascript" charset="utf-8"></script>
        <script>
            /*function queryStr() {
                var r = window.location.search.slice(1).split("&")
                  , e = {};
                return r.forEach(function(r) {
                    var t;
                    r && (t = r.split("="),
                    2 === t.length && (e[t[0]] = t[1]))
                }),
                e
            }
            var key = queryStr().key = '4b67bb37803b63a80bfb8511cf152427';
            key ? !function(r) {
                r.write('<script src="//webapi.amap.com/maps?v=1.3&s=rsv3&rf=h5&utm_source=litemap&key=' + key + '"><\/script>')
            }(document) : alert("请输入有效key!");*/
           	function selectAddressCallback (){
           		
           	}
           
        </script>
        <!--<script src="../lib/picker-9d212046e124c506583d7161af8027d9.js?v=1.0"></script>-->
        <script src="../seajs/2.1.1/sea.js"></script>
		<script src="../seajs-config.js?v=20181031"></script>
		<script>
			seajs.use(['addMap'],function( zs ){
				zs.init();
			});
		</script>
    </body>
</html>
