<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>果然好农场</title>
		<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' 'unsafe-eval' http://api.grhao.com/server/api.do http://61.164.113.168:8090/grh_api/server/farm.do ; style-src 'self' 'unsafe-inline' 'unsafe-eval'  " > 
		<meta name="apple-touch-fullscreen" content="no"/>
		<meta name="viewport" content="width=750,user-scalable=no" />
		<meta content="telephone=no, address=no" name="format-detection" />
		<link rel="stylesheet" href="../css/rest.css" />
		<link rel="stylesheet" type="text/css" href="../css/base.css"/>
		<link rel="stylesheet" type="text/css" href="../css/farm.css"/>
	</head>
	<body>
		<div class="main" id="appVue">
			<!--
				加载动画层
			-->
			<div class="canves_loging" v-show="PageStatus == 1">
				加载中...
			</div>
			<!--
				动画背景层
			-->
			<div class="canves_bg" v-show="PageStatus == 2">
				<!-- 头部区域-->
				<header v-cloak class="common_header title_c" >
					<a href="avascript:void(0)" @click="goBack"></a>
					<p>果然好农场</p>
					<dl v-if="PageType == 1" class="share">
						<dt><img src="../img/farmImg/share2x.png"/></dt>
						<dd>分享</dd>
					</dl>
					<dl class="rule">
						<dt><img src="../img/farmImg/rule2x.png"/></dt>
						<dd>规则</dd>
					</dl>
				</header>
				
				<!-- 用户信息展示 -->
				<div v-cloak class="information">
					<img class="icon" v-bind:src="userInfo.faceImg"/>
					<div class="content">
						<div class="top clearfix">
							<p class="user_name fl" v-text="userInfo.petName"></p>
							<p v-if="PageType == 1" class="sign fr" v-bind:class="{'icon_rash':!hasSignIn}" @click="getSignIn"><span>签到</span></p>
						</div>
						<div class="bottom">
							<span class='level'></span>
							<div class="blue_bg">
								<div class="data">
									<span class="left" v-text="farmLevel.levelNum"></span>
									<span class="middle" v-text="farmLevel.startExp+'/'+farmLevel.endExp"></span>
									<span class="right" v-text="farmLevel.levelNum + 1"></span>
								</div>
								<div class="exp"></div>
							</div>
						</div>
					</div>
				</div>
				<!-- 动态及好友信息展示 -->
				<div v-cloak v-if="PageType == 1" class="side_nav" >
					<div class="dynamic" :class="{'common_rash':dynamicInfo.isNoRead}" @click="getDynamic" v-bind:data="dynamicInfo">
						<img src="../img/farmImg/dt.png" alt=""/>
					</div>
					<div class="friends" @click="getFrieds">
						<img src="../img/farmImg/hy.png"/>
					</div>
				</div>
				<!-- 底部  土地 仓库  --浇水 -->
				<div v-cloak class="bottom_nav">
					<div class="land common_num" v-bind:data-content="farmLandCount" @click="getLand">
						<img src="../img/farmImg/td.png"/>
					</div>
					<div v-if="PageType == 1" class="storehouse_w" @click="getStorehouse">
						<img src="../img/farmImg/ck.png"/>
					</div>
					<div v-if="PageType == 1" class="watering" v-bind:class="{'common_num':waterTimes!=0 }" v-bind:data-content="waterTimes" @click="getWatering">
						<img src="../img/farmImg/js.png"/>
					</div>
				</div>
				
				
				<!-- 签到弹出框 -->
				<div id="frame" class="frame" v-show="signIn.htmlStr">
					<span class="close" data-obj='siginIn' @click="closeMask"></span>
					<div class="icon">
						<img v-bind:src="signIn.imgUrl" alt="" />
					</div>
					<div v-html="signIn.htmlStr">
						
					</div>
				</div>
				<!-- 动态弹窗 -->
				<div id="trends" class="trends common_wrap" >
					<div class="common_title">动态<span class="common_close" data-obj='dynamicInfo' @click="closeMask"></span></div>
					<div class="trends_wrap">
						<ul class="trends_content">
							<li v-for="item in dynamicInfo.dynamicList" data-type='item.type' v-text="item.note"></li>
						</ul>
						<p class="load_more" v-text="dynamicInfo.isLast ? '没有更多数据了' : '点击加载更多'" @click="clickGetMoreDynamic"></p>
					</div>
				</div>
				<!-- 土地弹窗 -->
				<div id="land" class="common_wrap" >
					<div class="common_title">土地<span class="common_close" data-obj='landInfo' @click="closeMask"></span></div>
					<ul class="land_content clearfloat">
						<li class="float_left" v-show="landInfo.landList" v-for="item in landInfo.landList" @click="goToLand(item)">
							<!---->
							<dl :class="{active:farmLand.id == item.id}">
								<dt v-if="!item.id"></dt>
								<dd v-if="!item.id"><p>暂未开通</p><p v-text="item.desc"></p></dd>
							</dl>
							<p  class="color_a" :class="{color_b:farmLand.id == item.id,color_c:!item.id}" v-text="farmLand.id == item.id ? '当前土地' : item.no+'号土地'"></p>
						</li>
					</ul>
				</div>
				<!-- 仓库 -->
				<div id="storehouse" class="storehouse common_wrap" >
					<div class="common_title">仓库<span class="common_close" data-obj='storehouseInfo' @click="closeMask"></span></div>
					<ul class="menu">
						<li v-for="(item,index) in storehouseInfo.list" v-text="item.name" :data-type = "index" :class="{'active':storehouseInfo.type == index}" @click="!item.active && getStorehouse(item,index)"></li>
					</ul>
					<div class="wrap">
						<div class="show clearfloat" v-bind:style="{width:getWidth}">
							<dl class="float_left" v-for="item in storehouseInfo.data" v-bind:data-id="item.id">
								<dt class="ccsl" v-text="item.name"></dt>
								<dd class="num" v-text="'x'+item.num"></dd>
								<dd><img v-bind:src="item.logo"/></dd>
								<dd><span class="button" @click="clickStorehoseUse" v-bind:data-id="item.id">立即使用</span></dd>
							</dl>
						</div>
					</div>
				</div>
				<!-- 好友邀请好友 -->
				<div id="friend" class="friend common_wrap" >
					<div class="common_title">好友<span class="common_close" data-obj='friedsInfo' @click="closeMask"></span></div>
						<div class='friend_top'>
							<div class="right">
								<dl v-for="(item,index) in friedsInfo" v-bind:data-id="item.id" :class="{'crown':index==0,'pick':item.canSteal}" @click="goToFarm(item)">
									<dt><img v-bind:src="item.faceImg" class="border_blue"/></dt>
									<dd class='name ellipsis' v-text="item.petName"></dd>
									<dd class='no' v-text="'No.'+(index+1)"></dd>
								</dl>
							</div>
						</div>
					<div class="friend_bottom" @click="invitationFriend">邀请好友</div>
				</div>
				<div id ="mask" class="common_mask" v-if="isMask" @click="closeMask" v-bind:data-obj="isMaskData"></div>
			</div>
			<!--
				使用div做的主要操作视图区域
				ps:必须移动到背景层去做--不然canves_bg 上的事件没有办法触发
			-->
			<!--<div class="main_view" v-show="PageStatus == 2">
				
			</div>-->
			<!--
				场景转换使用-----覆盖在所有的层级上方
			-->
			<div class="canver_change_scene" v-show="PageStatus == 3">
				
			</div>
		</div>
	</body>
	<script src="../seajs/2.1.1/sea.js"></script>
	<script src="../seajs-config.js?v=20180720"></script>
	<script>
		seajs.use(['fram'],function( zs ){
			zs.init();
		});
	</script>
	
</html>