<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>门店选择</title>
<meta name="viewport" content="width=720,user-scalable=0"/>
<meta content="telephone=no, address=no" name="format-detection" />
<meta name="full-screen" content="yes">
<meta name="x5-fullscreen" content="true">
<link rel="stylesheet" type="text/css" href="../css/base.min.css?v=20181011"/>
<script src="http://webapi.amap.com/maps?v=1.3&key=68f1f7850d75a2c422f417cc77331395&plugin=AMap.DragRoute"></script>
</head>
	<body module-id="store">
		<div class="header_wrap">
			<div class="header_contain">
				<div class="header_left"><span class="triangle-btn green"></span></div>
				<div class="header_title">门店选择</div>
			</div>
		</div>
		<div class="empty"></div>
		<div class="main_wrap">
			<div class="store-box" id="store-box">
				<div class="nav-modal-bg"></div>
				<div class="store-nav">
					<ul class="nav-tab clearfloat">
						<li class="nav-list">筛选</li>	
						<li class="nav-list">区域</li>	
						<li class="nav-list">智能排序</li>	
					</ul>
					<div class="nav-content">
						<div class="nav-group">
							<ul class="nav-menu">
								<li class="menu-list actived firm-type"><span class="txt">全部</span><span class="item"></span></li>
								<li class="menu-list firm-type" firm-type="1"><span class="txt">线下门店</span><span class="item"></span></li>
								<li class="menu-list firm-type" firm-type="5"><span class="txt">售货机</span><span class="item"></span></li>
							</ul>
						</div>
						<div class="nav-group" id="store-area-data-box"></div>
						<div class="nav-group"> 
							<ul class="nav-menu">
								<li class="menu-list actived sort-type"><span class="txt">智能排序</span><span class="item"></span></li>
								<li class="menu-list sort-type" sort-type="1"><span class="txt">离我最近</span><span class="item"></span></li>
								<li class="menu-list sort-type"><span class="txt">评价最好</span><span class="item"></span></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="store-position">
					<div class="position-detial"><p></p><span id="checkAllMaker"></span></div>
				</div>
				<div class="store-all">
					<ul id="store-list-data-box"></ul>
					<p class="tipMgs" style="display:none" id="tipMgs">点击加载更多</p>
				</div>
			</div>
		</div>
		<div id="map-container"></div>
		<script id="store-list-data" type="text/x-jquery-tmpl">
			{{each objects}}
				<li class="list">
					<img src="${$value.faceImgUrl}" alt="" width="150px" height="102px">
					<span class="store-type-label ${ $value.type==5 ? '' : 'actived'}"></span>
					<div class="store-dec">
						<p class="store-name">${$value.firmName}</p>
						<p class="store-address">${$value.address}</p>
					</div>
					{{if $value.distanceS == "没有经纬度" }}
						<span class="store-distance">${$value.streetName}</span>
						{{else}}
							{{if $value.distanceS >= 0 }}
								{{if $value.distanceS < 20000 }} <span class="store-distance">${$value.streetName}&nbsp;&nbsp;${Number($value.distanceS/1000).toFixed(2)} km</span>
									{{else}} <span class="store-distance">${$value.streetName}&nbsp;&nbsp;>&nbsp;20 km</span>
								{{/if}}
							{{/if}}
					{{/if}}

					<span class="store-dot isCurNode"></span>
				</li>
			{{/each}}
		</script>
		<script id="store-area-data" type="text/x-jquery-tmpl">
			<ul class="nav-menu">
				<li class="menu-list actived"><span class="txt">全部</span></li>
				{{each  data}}
					<li class="menu-list" code="${JSON.parse($index).code}"><span class="txt">${JSON.parse($index).name}</span></li>
				{{/each}}
			</ul>
			<ul class="nav-sub-menu">
				<li class="sub-menu-list actived">
					<p class="item"><span>全部</span></p>
					{{each data}}
						{{each $value}}
							{{if $value.length !=0 }}
								<p class="item" code="${$value.code}"><span>${$value.name}</span></p>
							{{/if}}
						{{/each}}
					{{/each}}
				</li>
				{{each  data}}
					<li class="sub-menu-list">
						<p class="item"><span>全部</span></p>
						{{if $value.length !=0 }}
							{{each $value}}
								<p class="item" code="${$value.code}"><span>${$value.name}</span></p>
							{{/each}}
						{{/if}}
					</li>
				{{/each}}
			</ul>
		</script>
	</body>
	<script src="../seajs/2.1.1/sea.js"></script>
	<script src="../seajs-config.js?v=20181011"></script>
	<script>
		seajs.use(['search'],function( zs ){
			zs.init();
		});
	</script>
</html>
